body {
    --tw-gradient-to: #3b82f6;
    --tw-gradient-from: #1e3a8a;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to, rgba(30, 58, 138, 0));
    background-image: linear-gradient(to top right,var(--tw-gradient-stops));
    width: 100vw;
    height: 95vh;
}

.admin-cu-c {
    padding-top: 60px;
    width: 20%;
    grid-column: 1/3;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }