<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{!-- TailwindCSS CDN --}}
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    {{!-- Bootstrap --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    {{!-- Fontawesome --}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/8b71aae359.js" crossorigin="anonymous"></script>
    {{!-- Default styles --}}
    <link rel="stylesheet" href="/css/default.css">
    {{{css}}}
    <title>Dashboard</title>
  </head>
  <body>
    <div class="grid-container">
      {{!-- header start --}}
      <header>

      </header>
      {{!-- header end --}}

      {{!-- main start --}}
      <main class="grid-container-main">
        {{{body}}}
      </main>
      {{!-- main end  --}}

      {{!-- footer start --}}
      <footer>

      </footer>
      {{!-- footer end  --}}
    </div>
  </body>
</html>